@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .play {
      animation-play-state: running;
    }
 }

@keyframes website {
    from {transform: translateY(0)}
    to {transform: translateY(-90%)}
}
@keyframes website-2 {
    from {transform: translateY(0)}
    to {transform: translateY(-25%)}
}

html {
    --line-color: #e5e7eb;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

.vertical-timeline::before {
    border-radius: 20px
}
.dark .vertical-timeline-element-icon {
    background: #1e2432!important;
    box-shadow: 0 0 0 4px #414652;
    color: #b1b3b8!important;

}
.borderBlack {
    @apply border border-black/10;
}

.website-animation {
    animation: alternate website 15s infinite linear;
    animation-play-state: paused;
}
.website-animation-2 {
    animation: alternate website-2 2s infinite linear;
    animation-play-state: paused;
}
